<header class="jumbotron">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Brocolli E-Store</h1>
        <p style="padding: 40px;"></p>
        <p>Don't be into trends. Don't make fashion own you,
          but you decide what you are, what you want to
          express by the way you dress and the way to live.</p>
      </div>
      <div class="col-xs-12 col-sm-2">
        <p style="padding: 10px;"></p>
        <img class="img-rounded" src="public/brocolli.jpeg"
             width="400" height="200">
      </div>
    </div>
  </div>
</header>
